<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80269549278-1uetgss5auaqqjfccb4sfvh1fdm6t4bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80269549278-1uetgss5auaqqjfccb4sfvh1fdm6t4bb</string>
	<key>API_KEY</key>
	<string>AIzaSyCIGfaFRWdxXTB81YF2oYEVSLOidcipLSs</string>
	<key>GCM_SENDER_ID</key>
	<string>80269549278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bennerbr.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-993d0</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-993d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80269549278:ios:1096f1d13c875760616c4f</string>
</dict>
</plist>